@media screen and (max-width: 950px) {
    
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn-start {
        width: 112px;
        margin-top: 12px;
        padding: 12px 0;
        font-size: 15px;
    }

    section {
        display: flex;
        flex-direction: column;
    }

    .text-content {
        text-align: center;        
    }

    .text-title, .sub-title {
        order: 1;
    }

    .section-image {
        order: 2;
        padding-bottom: 50px;
    }
        
}

@media screen and (max-width: 550px) {

    
    .logo {
        width: 88px;
    }

    select {        
        padding: 4px 10px;
        margin-right: 5px;      
    }
    .btn-enter {
        font-size: 14px;
        padding: 6px 8px;        
    }

    .text-title {
        font-size: 28px;
    }

    .text-subtitle {
        font-size: 18px;
    }

    .info h3 {
        font-size: 18px;
    }

    .email {
        width: 100%;
        height: 48px;        
    }

    .section-image {
        width: 100%;
    }
}

@media screen and (max-width: 360px) { 
    
    #container {
        height: 450px;
    }

    .info {
        margin-top: 0;
        padding-bottom: 0;
    }
    .text-title {
        font-size: 25px;
    }
    
    .text-content {
        width: 95%;
    }
}